// Define variables for your color scheme

// For example:
$text-brown: #473701;
$logo-brown: #866600;
$logo-green: #6ca10f;
$background-green: #e3fac2;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
