.card-goat-infos {
  border: 1px solid $light-gray;
  margin: 10% 20%;
  background: $light-gray;
  text-align: center;
  border-radius: 5px;
  padding: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.goat-show-image {
  border-radius: 50%;
  height: 300px;
}
