<div class="container">
  <h1>Create a Booking</h1>
  <div class="container">
    <%= simple_form_for [@goat, @booking] do |f| %>
      <%= f.input :rental_start_date %>
      <%= f.input :rental_end_date %>
      <%= f.submit class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
