<body class="home">
  <div class="container">
    <h1 class="slogan-font"><em>Go for the G.O.A.T.</em></h1>
    <div class="marketing-slogan">
      <h4>Have better things to do with your time than pushing around a lawn mower?</h4>
      <h4>Want the Greatest (animal) Of All Time to hang out with?</h4>
      <h4>Look no further!</h4>
    </div>
  </div>

<h4>Browse au naturale lawn-mowing cuddle buddies below:</h4>
  <div class="cards">
    <% @goats.each do |goat| %>
      <div class="card-product">
        <%= link_to goat_path(goat) do %>
          <%= cl_image_tag goat.image, height: 400, width: 600, crop: :fill %>
          <div class="card-product-infos">
            <h2> <%= goat.name %> </h2>
            <p><strong>Rate per day ($):</strong> <%= goat.rate_per_day %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
