.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 auto
}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  height: fit-content;
}

.card-product img {
  width: 100%;
}

// .card-product > h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }


// .card-product .card-product-infos {
//   padding: 16px;
//   position: relative;
// }

// .card-product-infos {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

a {
  text-decoration: none;
  color: $logo-brown;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
