<div class="container">
  <div class="form">
    <%= render 'form', goat: @goat %>
  </div>
  <div class="text">
    <h1>Have a new kid on the block?</h1>
    <h2>List them here!</h2>
  </div>
</div>
